<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Applied Intelligence for Insurance</title>
        <!-- Latest jQuery CDN-->
        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <!--Local Stylesheet -->
        <link rel="stylesheet" href="../styles/styles.css">
    </head>
    <body>
        
        <h1>Applied Intelligence for Insurance</h1>
        <h3>This is a web portal for showcasing all the Applied Intelligence solutions created for Insurance industry</h3>
        <div class="ball"></div>
    </body>
</html>