<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Applied Intelligence for Insurance</title>
        <!-- Latest jQuery CDN-->
        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <!--Local Stylesheet -->
        <link rel="stylesheet" href="../styles/styles.css">
    </head>
    <body>
        
        <h1>Applied Intelligence for Insurance</h1>
        <!--<h3>This is a web portal for showcasing all the Applied Intelligence solutions created for Insurance industry</h3> -->
        <div class="ball"></div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125" x="0px" y="0px">
            <title>bot3_open</title>
            <g fill="rgba(20, 11, 75, 0.781)" fill-rule="evenodd">
                <path d="M35,62 L35,62 C36.1045695,62 37,61.1045695 37,60 C37,58.8954305 36.1045695,58 35,58 C33.8954305,58 33,58.8954305 33,60 C33,61.1045695 33.8954305,62 35,62 L35,62 Z M35,66 C31.6862915,66 29,63.3137085 29,60 C29,56.6862915 31.6862915,54 35,54 C38.3137085,54 41,56.6862915 41,60 C41,63.3137085 38.3137085,66 35,66 Z M65,62 C66.1045695,62 67,61.1045695 67,60 C67,58.8954305 66.1045695,58 65,58 C63.8954305,58 63,58.8954305 63,60 C63,61.1045695 63.8954305,62 65,62 Z M65,66 L65,66 C61.6862915,66 59,63.3137085 59,60 C59,56.6862915 61.6862915,54 65,54 C68.3137085,54 71,56.6862915 71,60 C71,63.3137085 68.3137085,66 65,66 L65,66 Z"/><path d="M78.043793,27.6998546 L88.2922771,9.99792746 C88.8457065,9.04200398 90.0692787,8.71571805 91.0252022,9.26914743 C91.9811257,9.82257681 92.3074116,11.0461491 91.7539822,12.0020725 L81.1374158,30.3397781 C90,39.0153006 90,50 90,50 L90,70 C90,70 90,90 50,90 C10,90 10,70 10,70 L10,50 C10,50 10,39.0044239 18.8757506,30.3268977 L8.26908535,12.0020725 C7.71578346,11.0461491 8.04199423,9.82257681 8.99769749,9.26914743 C9.95340076,8.71571805 11.1766911,9.04200398 11.729993,9.99792746 L21.970129,27.6895106 C27.8958591,23.2892727 36.7550811,20 50,20 C63.2552955,20 72.1180196,23.2944286 78.043793,27.6998546 Z M20,60 C20,51.7157288 26.7081139,45 35.0050808,45 L64.9949192,45 C73.2819965,45 80,51.7139073 80,60 C80,68.2842712 73.2918861,75 64.9949192,75 L35.0050808,75 C26.7180035,75 20,68.2860927 20,60 Z"/>
            </g>
        </svg>
        <!--<div width=50; height=300><iframe src='https://webchat.botframework.com/embed/AJ?s=tlReGQ0DvWk.cwA.TO0.suf4PHM0x74oZyV98bNReX88kw4PPlvkIp5nXNtpz_U'></iframe></div> -->
        <text x="0" y="115" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">Image by Arsenty </text><text x="0" y="120" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">from the Noun Project</text>
    </body>
</html>