body {
    /*display: flex;*/
    background-color:rgb(104, 198, 219);
    justify-content: center;
}

h1 {
    font-family:  'Tahoma', sans-serif;
    color:rgba(31, 17, 121, 0.678);
    text-align: center;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    color: darkslategray;
    text-align: center;
}


  
  .ball {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgba(31, 17, 121, 0.678);
  
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5,0.05,1,.5);
    animation-iteration-count: infinite;
  }
  
  @keyframes bounce {
    from { transform: translate3d(650px, 0, 0);     }
    to   { transform: translate3d(650px, 200px, 600px); }
  }
  
  /* Prefix Support */
  ball {
    animation-name: bounce;
    -webkit-animation-name: bounce;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5,0.05,1,.5);
    -webkit-animation-timing-function: cubic-bezier(.5,0.05,1,.5);
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-webkit-keyframes bounce {
    from { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
    to   { -webkit-transform: translate3d(0, 200px, 0); transform: translate3d(0, 200px, 0); }
  }