body {
    background-color:rgba(145, 7, 163, 0.74);
    
}

h1 {
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}
h3 {
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}